<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carrito de Compra</title>
</head>
<body>
<h2>Carrito de Compra</h2>

<table>
    <thead>
    <tr>
        <th>Producto</th>
        <th>Precio</th>
    </tr>
    </thead>
    <tbody>
    <ul th:each="producto: ${productos}" class="carta">
        <li th:text="${producto.nombre}"></li>
        <li th:text="${producto.marca}"></li>
        <li th:text="${producto.precio}"></li>
        <!-- Resto de los atributos... -->
        <li> <img th:src="${producto.img}" src="" alt="" class="imagen-producto"></li>
    </ul>
    </tbody>
</table>

<p>Total: <span th:text="${carrito.calcularTotal()}"></span></p>

<form action="/usuario/realizarCompra" method="post">
    <button type="submit">Realizar Compra</button>
</form>
</body>
</html>
