<!-- index.html -->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
<h1>Productos</h1>

<!-- Iterar sobre la lista de productos -->
<ul th:each="producto : ${productos}">
    <li th:text="${producto.nombre}"></li>
    <li th:text="${producto.marca}"></li>
    <li th:text="${producto.precio}"></li>
    <li th:text="${producto.disponibilidad} ? 'Disponible' : 'No disponible'"></li>
    <!-- Agregar más atributos según sea necesario -->
</ul>

<!-- Enlace al carrito -->
<a th:href="@{/usuario/carrito}">Ver Carrito</a>
</body>
</html>



